<!-- using Angular's built-in *ngIf directive to conditionally include this div element;
    the div is included only if there are messages in the messageService's messages array -->
<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <!-- button to clear messages; when clicked, it calls the clear() method of messageService -->
  <button type="button" class="clear"
          (click)="messageService.clear()">Clear messages</button>

<!-- using Angular's built-in *ngFor directive to iterate over each message in the messageService's message array;
    for each message, a div element is created that displays the message -->
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>