<!-- used the uppercase pipe to transform hero's name to uppercase -->
<!-- <h2>{{hero.name | uppercase}} Details</h2> -->
<!-- <div>
    <label for="name">Hero name: </label>
-->
<!-- Input field bound to hero.name using two-way binding with ngModel;
            data can flow in both directions, from hero.name to text box and back -->
<!-- <input id="name" [(ngModel)]="hero.name" placeholder="name" />
</div>
-->

<h2>My Heroes</h2>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(heroName.value); heroName.value=''">
    Add hero
  </button>
</div>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button type="button" class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>